
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: OpenSans;
}

.spn{
	padding-left: 15px;

}
.btn
{
 color: #505050;
 background: #f4f6f8
}
.button{
color: #505050;
background: #f4f6f8

}
.spnimg{
	padding-left: 10px;
	color: #505050;

}

.ig{
	margin: 10px
}

.diw{
background-color: #fff;
}


body{
	font-family: SpenSans;
	
}

p{
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: #999;
}
a,
a:hover,
a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

/* Side Bar*/



#sidebar.active {
    margin-left: -250px;
}
.wrapper{
	display: flex;
	text-decoration: none;
	transition: all 0.3s;
}

#sidebar{
	min-width: 250px;
	max-width: 250px;
	background: #f4f6f8 ;
	color: #505050;
	transition: all 0.3s;
}


#sidebar .sidebar-header{
	padding: 20px;
	background: #f4f6f8;
}
#sidebar ul.components{
	padding: 20px 0;
	border-bottom: 1px solid #dddddd;
}

#sidebar ul p{
	color: #f4f6f8;
	padding: 10px;
}

#sidebar ul li a{
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a:hover{
	color: #0a7aff;
	background: #dddddd;
}
#sidebar ul li.active>a,
a[aria-expanded="true"] {
	color: #505050;
	background: #f4f6f8;
}

a[data-toggle="collapse"]{
	position: relative;
}

.dropdown-toggle::after{
	display: block;
	position: absolute;
	top: 50%;
	right: 20%;
	transform: translateY(-50%);
}
.ul ul a{
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: #fff;
}

#content{
	width: 100%;
	padding: 20px;
	min-height: 100vh;
	transition: all 0.3s;
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }

.dropdowncolorchange.submenu{
background-color: #f0f0f5;
}

}






